* {
    margin: 0;
    padding: 0;
}
ol, ul {
    padding-left: 0%;
}
ul, li {
    list-style: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
header {
    position: relative;
}
body {
    background-color: black;
}
body::-webkit-scrollbar {
    width: 10px;
    background: rgba(255,255,255, .2);
}
body::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 7px;
}
.contenedor__imagen {
    z-index: -2;
    position: absolute;
}
.imagen {
    width: 100%;
    height: 100%;
}
#body {
    overflow: hidden;
}
footer {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: aliceblue;
}

/* VIDEO BACKGRAUND HOME */

#video {
    z-index: -1;
}
#backgraund {
    width: 100%;
    height: 100%;
}

/* VIDEO BACKGRAUND */

/* ICONOS */

.contenedor__iconos {
    display: flex;
    justify-content: right;
    padding-right: 300px;
    padding-top: 75px;
}
.contenedor__iconos a img {
    width: 50px;
    height: 50px;
    transition: 350ms;
    padding: 0px 20px 0px 20px;
}
.contenedor__iconos a img:hover {
    transform: scale(1.3);
}

/* ICONOS */

/* BARRA DE NAVEGACION */

.barra__padre {
    background-color: rgba(59, 56, 56, 0.6);
    position: fixed;
    font-size: 20px;
    padding-left: 215px;
    padding-top: 15px;
    max-height: 55px;
    height: 100%;
    top: 15px;
    z-index: 1;
    width: 100%;
}
.barra ul {
    display: flex;
}
.barra ul li {
    padding: 10px 10px 0px 30px;
}
.barra ul li a {
    text-decoration: none;
    color: white;
}
.barra ul li a:hover{
    padding: 5px 15px;
    background: white;
    color: black;
    border-radius: 13px;
    transition: all 1s ease;
}

/* BARRA DE NAVEGACION */

#backgraund {
    width: 100%;
    height: 100%;
}

/* PAGINA PRINCIPAL TERMINA */

/* SLIDER */

.imagen-height {
    height: 945px;
}

/* SLIDER */

/* INFORMACION HIUNDAI */

.contenedor__informacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.contenedor__informacion iframe {
    width: 650px;
    height: 400px;
    padding-left: 10%;
}
.contenedor__informacion p {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 80px;
    max-width: 800px;
    width: 100%;
    color: white;
}

/* INFORMACION HIUNDAI */

/* PAGINA PRINCIPAL TERMINA */

/* HOME MOTOS COMIENZA */

/* CONTENEDOR IMAGENES MOTO */

.contenedor__imagenes__moto {
    display: flex;
    justify-content: space-evenly;
}
.contenedor__imagenes__moto img {
    max-width: 700px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 13px;
}

/* CONTENEDOR IMAGENES MOTO */

/* CONTENEDOR VIDEO */

.contenedor__video__moto {
    display: flex;
    justify-content: space-evenly;
    margin-right: 2rem;
}
.contenedor__video__moto p {
    font-family: 'Jost', sans-serif;
    color: rgb(255, 255, 255);
    max-width: 600px;
    max-height: 600px;
    font-size: 22px;
    margin-right: 2rem;
}
.contenedor__video__moto iframe {
    margin-left: 5.5rem;
}

/* CONTENEDOR VIDEO */

/* HOME MOTOS TERMINA */

/* HOME AUTOS COMIENZA */

/* CONTENEDOR IMAGENES */

.contenedor__imagenes__auto {
    display: flex;
    justify-content: space-evenly;
}
.contenedor__imagenes__auto img {
    max-width: 700px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 13px;
}

/* CONTENEDOR IMAGENES */

/* CONTENEDOR VIDEO */

.contenedor__video__auto {
    display: flex;
    justify-content: space-evenly;
    margin-left: 9.5rem;
}
.contenedor__video__auto p {
    margin-top: 40px;
    font-family: 'Jost', sans-serif;
    color: rgb(255, 255, 255);
    max-width: 600px;
    max-height: 600px;
    font-size: 22px;
    margin-left: 6rem;
    text-align: center;
}

/* CONTENEDOR VIDEO */

/* HOME AUTOS TERMINA */

/* HOME CAMIONETA EMPIEZA */

/* CONTENEDOR IMAGENES CAMIONETA */

.contenedor__imagenes__camioneta {
    display: flex;
    justify-content: space-evenly;
}
.contenedor__imagenes__camioneta img {
    max-width: 700px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 13px;
}

/* CONTENEDOR IMAGENES CAMIONETA */

/* CONTENEDOR VIDEO CAMIONETA */

.contenedor__video__camioneta {
    display: flex;
    justify-content: space-evenly;
    margin-left: 5rem;
}
.contenedor__video__camioneta p {
    font-family: 'Jost', sans-serif;
    color: rgb(255, 255, 255);
    max-width: 600px;
    max-height: 600px;
    font-size: 22px;
    margin-right: 3rem;
}
.contenedor__video__camioneta iframe {
    margin-right: 1.3rem;
}

/* CONTENEDOR VIDEO CAMIONETA */

/* HOME CAMIONETA TERMINA */

/* @media COMIENZA */

@media (min-width: 650px) and (max-width: 1350px) {

    /* EMPIEZA BARRA DE NAVEGACION */
    .barra__padre {
        padding-left: 0%;
    }
    .barra ul {
        display: flex;
        justify-content: center;
    }
    #body {
        overflow: visible;
        overflow-x: hidden;
    }
    /* TERMINA BARRA DE NAVEGACION */
    
    /* EMPIEZA CONTENEDOR MOTO */
    .contenedor__imagenes__moto:first-child {
        padding-bottom: 70px;
    }
    .contenedor__video__moto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
    }
    .contenedor__video__moto p {
        margin-right: 0px;
        padding-bottom: 65px;
    }
    .contenedor__imagenes__moto {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .contenedor__imagenes__moto img {
        width: 700px;
        height: 500px;
        object-fit: cover;
        border-radius: 13px;
    }
    .imagen1 {
        padding-bottom: 70px;
    }
    /* EMPIEZA CONTENEDOR MOTO */

    /* EMPIEZA HOME */
    #carouselExampleIndicators img {
        width: 100%;
        height: 900px;
    }
    .contenedor__iconos {
        padding-top: 110px;
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .contenedor__informacion {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items: center;
    }
    .contenedor__informacion iframe {
        width: 800px;
        height: 400px;
        padding: 0px;
    }
    /* TERMINA HOME */

    /* EMPIEZA CONTENEDOR CAMIONETAS */
    .contenedor__imagenes__camioneta {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .contenedor__imagenes__camioneta img {
        width: 700px;
        height: 400px;
        object-fit: cover;
        border-radius: 13px;
    }
    .contenedor__video__camioneta {
        display: flex;
        justify-content: space-evenly;
        margin-left: 0px;
        flex-direction: column;
        align-items: center;
    }
    .contenedor__video__camioneta p {
        padding-top: 55px;
        padding-bottom: 65px;
        margin-right: 0px;
    }
    /* TERMINA CONTENEDOR CAMIONETAS */
}
@media (min-width: 650px) and (max-width: 900px) {
    /* EMPIEZA BARRA DE NAVEGACION */
    .barra__padre {
        padding-left: 0%;
    }
    .barra ul {
        display: flex;
        justify-content: center;
    }
    #body {
        overflow: visible;
        overflow-x: hidden;
    }
    /* TERMINA BARRA DE NAVEGACION */
    #carouselExampleIndicators img {
        width: 100px;
        height: 700px;
    }
    .imagen1 {
        padding-bottom: 70px;
    }
    .contenedor__informacion {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items: center;
        padding-bottom: 80px;
    }
    .contenedor__informacion iframe {
        width: 600px;
        height: 300px;
        padding: 0px;
    }
    .contenedor__informacion p {
        width: 500px;
        height: 360px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .contenedor__imagenes__moto img {
        width: 450px;
        height: 350px;
        object-fit: cover;
        border-radius: 13px;
    }
    .contenedor__video__moto iframe {
        width: 450px;
        height: 350px;
    }
    .contenedor__video__moto p {
        text-align: center;
        width: 450px;
        height: 350px;
        margin-right: 0px;
        padding-bottom: 65px;
    }
}
@media (min-width: 300px) and (max-width: 650px) {
    /* EMPIEZA BARRA DE NAVEGACION */
    .barra__padre {
        padding-left: 0%;
    }
    .barra ul {
        display: flex;
        justify-content: center;
    }
    #body {
        overflow: visible;
        overflow-x: hidden;
    }
    .contenedor__iconos {
        padding-top: 110px;
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    /* TERMINA BARRA DE NAVEGACION */
    .imagen1 {
        padding-bottom: 70px;
    }
    .contenedor__informacion iframe {
        width: 350px;
        height: 200px;
        padding: 0px;
    }
    .contenedor__informacion p {
        width: 350px;
        height: 200px;
    }
    .contenedor__informacion {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items: center;
        padding-bottom: 80px;
    }
    .contenedor__imagenes__moto img {
        width: 350px;
        height: 300px;
        object-fit: cover;
        border-radius: 13px;
    }
    #carouselExampleIndicators img {
        width: 100%;
        height: 600px;
    }
    .barra ul li {
        padding: 10px 10px 10px 10px;
    }
    .contenedor__imagenes__moto {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contenedor__video__moto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
    }
    .contenedor__video__moto p {
        text-align: center;
        width: 350px;
        height: 250px;
        margin-right: 0px;
        padding-bottom: 65px;
    }
    .contenedor__video__moto iframe {
        width: 350px;
        height: 250px;
    }
}
/* @media TERMINA */
